<div class="container"style="padding: 200px 300px 100px;">
	<div class="jumbotron">
		<center>
<h3>编辑留言：</h3>
<form  method="POST" action="/add/info">
	<div>
		<textarea  name="content"></textarea>
	</div>
	<input type="submit" name="submit" value="保存" />
		<h4><a href="/show/infos">返回</a></h4>
	</center>
</form>
</div>
</div>
