<div class="container"style="padding: 200px 300px 100px;">
	<div class="jumbotron">
		<center>

<form action="/reset_sure" method="post">
  <h4>请输入用户名: <input type="text" name="username" placeholder="username"/></h4>
  <p>
  <h4>请输入原密码: <input type="password" name="password" placeholder="password"/></h4>
  <p>
  <h4>请输入新密码: <input type="password" name="new_password" placeholder="new_password"/></h4>
  <p>
  <h4><input type="submit" value="确认" /></h4>
  <h4><a href="/show/personal">返回上一级</a></h4>
</form>
</center>
