<% @messages.each do |message| %>
  <center>
  <h3>留言id:<%= message.id %> &emsp;留言作者id:<%= message.user_id %>&emsp; 留言时间：<%= message.created_at %><h3>
    <h3>留言内容：<h3>
      <textarea><%= message.content %></textarea>
    <HR style="border:3 double #987cb9" width="100%" color=#987cb9 SIZE=3>
    </center>
<% end %>
<p>
<h3><a href="/show/infos">返回</a></h3>
