
<div class="container"style="padding: 200px 300px 100px;">
	<div class="jumbotron">
		<center>
		<h4>欢迎来到留言系统，请注册你的帐号和密码</h4>
			</center>
	<form action="/signup" method="post">
		<div class="input-group">
      <center>
			<h4> &emsp; &emsp;&emsp;帐号：
			<input type="text" name="username" placeholder="username">
      </h4>
    </center>
		</div>
		<br>
			<div class="input-group">
        <center>
		   <h4> &emsp; &emsp;&emsp; 密码：
			<input type="password" name="password" placeholder="password">
      </h4>
    </center>
		</div>
		<br>
		<center>
	<button type="submit" class="btn btn-primary btn-lg ">注册</button>
			</center>
	</form>
</div>
